# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log
__pycache__/
*.pyc

# Misc
.DS_Store
.fleet
.idea
.omc

# Local env files
.env
.env.*
!.env.example
